.reelcra {
  width: 640px;
  height: 360px;
  margin: auto;
  box-shadow: rgba(18, 8, 78, 0.895) 0px 5px 15px;
}

/* .carousel-control-prev {
  height: 300px;
}
.carousel-control-next {
  height: 300px;
} */

.carousel .carousel-control-prev-icon {
  visibility: hidden;
}
.carousel:hover .carousel-control-prev-icon {
  visibility: visible;
}

.carousel .carousel-control-next-icon {
  visibility: hidden;
}
.carousel:hover .carousel-control-next-icon {
  visibility: visible;
}
@media screen and (max-width: 600px) {
  .reelcra {
    width:356px;
  }
}